<section id="service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="service-title">Features</h1>
                <div class="service-aro-icon">
                    <div class="service-aro-left"></div>
                        <i class="fa fa-gift"></i>
                    <div class="service-aro-right"></div>
                </div>
                <h2>What Phishing Sweeper can do</h2>
                <p>This are some of the features of our AI cloud technology.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center service">
                <i class="fa fa-laptop"></i>
                <h3>Web</h3>
                <p>Lorem ipsum dolor sit amet ectetur sicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center service">
                <i class="fa fa-picture-o"></i>
                <h3>Graphic</h3>
                <p>Lorem ipsum dolor sit amet ectetur sicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center service">
                <i class="fa fa-rocket"></i>
                <h3>Marketing</h3>
                <p>Lorem ipsum dolor sit amet ectetur sicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center service">
                <i class="fa fa-shopping-cart"></i>
                <h3>E-Commerce</h3>
                <p>Lorem ipsum dolor sit amet ectetur sicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /#service-page -->