<section id="home-page">
    <div class="container-fluid home-bg">
        <div class="row">
            <div class="col-md-12 text-center home-page">
                <div class="main-logo">
                    <a href=""><img src="assets/images/logo-2.png" alt="" /></a>
                </div>
                <h1>Currently working on this new Site</h1>
                <h2>Stay tuned</h2>
                <div class="container">
                    <!-- COUNTDOWN -->      
                    <div class="row">
                        <div class="col-sm-12 tk-countdown">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                    <!-- /COUNTDOWN -->
                </div>
                <p>But you can still reegister for our email phishing protection</p>
                <form id="subscribe" class="form-group subscribe-area">
                    <input type="email" name="subscribe-email" id="st-email" class="form-control subscribe-box" placeholder="Enter company email...">
                    <input type="text" name="subscribe-email" id="st-email" class="form-control subscribe-box" placeholder="Enter company name...">
                    <input type="password" name="subscribe-email" id="st-email" class="form-control subscribe-box" placeholder="Enter prefered password...">
                    <button type="submit" name="subscribe-submit" class="btn btn-primary btn-lg submit-bt" >Register</button>
                    <br>
                    <label for="st-email" class="st-subscribe-message"></label>
                </form>
                <div class="row">
                <div class="col-sm-12 social-shear text-center">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div><!-- /.social-shear -->
                </div>    
            </div>
        </div>
    </div>
</section><!-- /#home-page -->